@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{

}

/*main page*/

.center {
  display:block;
  margin-left: auto;
  margin-right: auto;

}

.angel {
  display:block;
  margin-left: 52%;
  margin-bottom: auto;
  transform: rotate(15deg);
}


#wrapper{
  position: relative;
  height: 175px;
  width: 350px;
  margin-left: 525px;
}

#wrapper .about{
  visibility: hidden;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: -3;
  left: 25;
  right: 0;

}

#wrapper:hover .about {
visibility: visible;
opacity: 70%;
}

#wrapper:hover .center {
  visibility: hidden;
}

#wrapper:hover .angel{
  opacity: 20%;
}

/*linktree*/
.links {
  margin: auto;
    width: 100%;
    heigh: 100%


}

/*submit*/

.email{

}

/*archive*/
.downloads {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 100;

}

.download-button{
  width: 70%;
}

.download-button:hover{
  filter:drop-shadow(15px 15px 15px honeydew);
}

.pic{
  width:2394px;
  height:auto;

}

.button-container{
position:absolute;
display:inline-block;
position:relative;
}

.button-button{
  position:absolute;
  top:23em;
  left:55em;
  height:100px;
  width:auto;


}

/*subscribe*/
.folder1 {
  position: absolute;
  height: 200px;
  width: 50%;
}

#questions{
  background-image:linear-gradient(chartreuse, papayawhip);
  color: white;
  font-size: 140%;
}

/*desktop*/
.desktop{
  background-image:url("Assets/blob4.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.blessing-container{
  display:inline-block;
}

.three{
  position:absolute;
  top:12em;
  left:55em;
}

.two{
  position:absolute;
  top:5em;
  left:10em;
}

.one{
  position:absolute;
  top:20em;
  left:37em;
}

#icon{
  position:fixed;
  top:1em;
  left:79em;
  width: 10%;
  height: auto;
}

#icon:hover{
  filter:drop-shadow(15px 15px 15px hotpink);
}
