body{

}

/*main page*/
.center {
  display:block;
  margin-left: auto;
  margin-right: auto;

}

.angel {
  display:block;
  margin-left: 52%;
  margin-bottom: auto;
  transform: rotate(15deg);
}

/*linktree*/
.links {
  margin: auto;
    width: 100%;
    heigh: 100%


}

/*submit*/

.email{

}

/*archive*/
.downloads {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 100;

}

.grabbag{
  width: 70%;
}

.grabbag:hover{
  filter:drop-shadow(15px 15px 15px honeydew);
  border-style: dotted;
  border-radius: 50%;
  color: honeydew;
}

.folder1 {
  position: absolute;
  height: 200px;
  width: 50%;
}
