@font-face {
font-family: 'Minipax';
src: url('fonts/Minipax/Minipax-Regular.woff') format('woff');
}

.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 300px;
  width: 20%;
}

.angel {
  display:block;
  margin-left: 52%;
  margin-bottom: auto;
  transform: rotate(15deg);
}

.downloads {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 100;

}

.folder1 {
  position: absolute;
  height: 200px;
  width: 50%;
}
